<div class="loginbox">
    <img src="../menu.png" class="menu" (click)="isVisible = !isVisible" />
    <div class="Login" [style.display]="isVisible ? 'block' : 'none'">
    <h1>登录
        <span>获取更多服务.</span>
    </h1>
    <label>
        <span>邮箱 :</span>
        <input id="email" type="email" placeholder="e-Mail" />
    </label>
    <label>
        <span>密码 :</span>
        <input id="password" type="password" placeholder="Password" />
    </label>
    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="Login" />
    </label>
    </div>
</div>