div {
    font-family: fangzhengsongti;
    color: black;
    padding-top: 5px;
    position: relative;
    width: 80%;
    margin: 50px auto;
    background: white;
    img {
        width: 98%;
        margin: auto;
        display: block
    }
    h3 {
        margin: auto;
        display: inline-block;
    }
    article {
        margin: auto;
        padding: 0;
        overflow-y: hidden;
        max-height: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:after{
            content: '';
            display: block;
            height: 30px;
            background: linear-gradient(transparent,white);
            position: absolute;
            bottom:18px;
            left: 0;
            width: 100%;
            cursor:pointer;
        }
    }
}